<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="./css/styleAdmin.css" />

  <title>Login - Nugget ♥s You</title>

  <!-- partially inspired by bootsnipp https://bootsnipp.com/snippets/dldxB -->
</head>

<body>
  <div class="wrapper">
    <div id="formContent">
      <!-- Icon -->
      <img src="../../img/roughlySquareNugget.png" id="icon" alt="Nugget Icon" class = "p-3" />

      <!-- Login Form -->
    <form id = "loginForm" action = "/login" method = "post">
      <input type="email" id="email" name="email" class="form-control" placeholder="email">
      <input type="password" id="password" name="password" class="form-control" placeholder="password">
      <input type="submit" id = "submit" class="form-control" name = "submit" value="Log In">
    </form>
    </div>
  </div>
</body>

</html>