body, html {
    height: 100%;
}
  
#background { 
    /* code courtesy of mdbootstrap.com */
    /* The image used */
    background-image: url("../img/DukeChapel.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background404 { 
    /* code courtesy of mdbootstrap.com */
    /* The image used */
    background-image: url("../img/DukePond.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lowerRightText {
    position: absolute;
    background-color: white;
    bottom: 0px;
    right: 0px;
    font-size: 12px;
}

.topIcon {
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.musicIcon {
    font-size: 16px;
}

.pausedText{
    text-decoration: line-through;
}